*{
    margin: 0;
    padding: 0;
}
.class2  {
    /* height: 7px; */
    width: 90%;
    position: relative;
    text-align: center;
    margin: auto;
    text-decoration: none;
    color: white;
    align-items: center;
    /* border: 2px solid white; */
    
}
.boxnotice{
    position: relative;
    width: 90%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 3px;
    /* padding: 5px; */
    border: 2px solid white;
    /* border-radius: 10px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.boxnotice:hover{
  border: 2px solid white;
  background-color: white;
  color: black;
}
.collapsible {
  position: relative;
  z-index: 9;
    background-color: transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 3px solid white;
    color: rgb(255, 255, 255);
    font-weight: 900;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  .collapsible:hover{
    color: black;
    background-color: white;
  }
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  /* .active, .collapsible:hover {
    background-color: #ccc;
  } */

  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    /* overflow: hidden; */
    background-color: #f1f1f1;
  }